# Build directories
/out/

# CMake build files (keep build directory but not contents)
build/CMakeFiles/
build/Makefile
build/*.exe

# Object files
*.o

# CMake files
CMakeCache.txt
*.cmake

# IDE specific files
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user